<div class="container justify-content-center mt-4">
    <div class=" h-100">
        <div class="col-sm-6">
            <div>
                <div class=" text-center">
                    <h3 class="font-effect-fire">Add Product</h3>
                </div>
                <div>
                    
                    <form [formGroup]="data"> 
                        <div class="mb-3">
                            <label class="form-label">employe name</label>
                            <input type="text" class="form-control" id="exampleInputemail" formControlName="name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="address" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">mobile No</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="mobileno" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

