<div class="container justify-content-center mt-4">
    <div class="row justify-content-center h-100">
        <div class="col-sm-6">
            <div class="card my-auto shadow">
                <div class="card-header text-center">
                    <h3 class="font-effect-fire">SIGN-UP</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>You Have Already Account?</label>
                        <a href="" class="ms-2 text-decoration-none " routerLink="/login" routerLinkActive="activelink">login</a>
                    </div>
                    <form [formGroup]="login" (ngSubmit)="onsumbit()"> 
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="name" class="form-control" id="exampleInputname" formControlName="name" />
                            <div *ngIf="!login.get('name')?.valid && login.get('name')?.touched">
                                <small class="text-danger">Please enter the name</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputemail" formControlName="email" />
                            <div *ngIf="!login.get('email')?.valid && login.get('email')?.touched">
                                <small class="text-danger">please enter the email</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" />
                            <div *ngIf="!login.get('password')?.valid && login.get('password')?.touched">
                                <small class="text-danger">Please enter the password</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="confirmPassword" />
                            <div *ngIf="!login.get('confirmPassword')?.valid && login.get('confirmPassword')?.touched">
                                <small class="text-danger">Please enter the password</small>
                            </div >
                           <div *ngIf="login.get('confirmPassword')?.errors?.confirmPasswordValidator">
                            <small class="text-danger">please enter the valid password</small>
                           </div>
                        </div>
                        <div class="mb-3">
                            <label class="me-1">Country</label>
                            <select name="Role" formControlName="country">
                                <option disabled selected>Chooes</option>
                                <option *ngFor="let item of Country" [value]="item.id" id={{item.id}}>{{item.value}}</option>
                            </select>
                            <div *ngIf="!login.get('country')?.valid && login.get('country')?.touched">
                                <small class="text-danger">Please select the country</small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!login.valid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
